@import "~bulma/bulma";

$red: #e40403;

svg#jaws-logo {
    width: 150px;
    height: 50px;

    #path0 {
        fill: transparent !important;
    }
}

#chat-window {
    position: sticky;
    width: 100%;
    top: 0.75rem;
}
