$red: #e40403;
$quint: #85b65b;
$hooper: #6b9cd1;
$brody: #020609;

svg#jaws-logo {
    width: 150px;
    height: 50px;
    #path0 {
        fill: transparent !important;
    }
}

#index-hero {
    background-size: cover !important;
    position: relative;
    overflow: hidden;

    &::Before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(33, 33, 33, .6);
        z-index: 1;
    }

    .hero-body {
        z-index: 2;
        text-align: center;
    }

    #homepage-video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transform: scale(1.65);
        overflow: hidden;
    }
}

#chat-window {
    position: sticky;
    width: 100%;
    top: 0.75rem;
}

.character-selected {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    &.shark {
        background-color: lighten($red, 25%);

        .message-body {
            border: none !important;
            color: white;
        }
    }
    &.brody {
        background-color: lighten($brody, 25%);

        .message-body {
            border: none !important;
            color: white;
        }
    }
    &.hooper {
        background-color: lighten($hooper, 25%);

        .message-body {
            border: none !important;
            color: $brody;
        }
    }
    &.quint {
        background-color: lighten($quint, 25%);

        .message-body {
            border: none !important;
            color: $brody;
        }
    }
}

.panel-heading {
    &.shark {
        background-color: lighten($red, 25%) !important;
        color: white;
    }
    &.brody {
        background-color: lighten($brody, 25%) !important;
        color: white;
    }
    &.hooper {
        background-color: lighten($hooper, 25%) !important;
        color: $brody;
    }
    &.quint {
        background-color: lighten($quint, 25%) !important;
        color: $brody;
    }
}

.panel-block {
    &.shark {
        background-color: lighten($red, 50%) !important;
        color: $brody;
    }
    &.brody {
        background-color: lighten($brody, 80%) !important;
        color: $brody;
    }
    &.hooper {
        background-color: lighten($hooper, 30%) !important;
        color: $brody;
    }
    &.quint {
        background-color: lighten($quint, 30%) !important;
        color: $brody;
    }

    &.used {
        text-decoration: line-through;
        font-style: italic;
    }
}

.panel hr {
    background-color: $brody;
}

.breadcrumb a {
    text-decoration: none;
    &:hover {
        cursor: inherit;
    }
}

@import "acts";
