// Barrels
.barrels-count {
    position: absolute;
    width: 30px;
    &::after {
        content: attr(title);
        position: absolute;
        width: 25px;
        height: 25px;
        background: saddlebrown;
        z-index: 10;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 12px;
        top: -13px;
        right: -15px;
    }
}

#shop-barrels {
    bottom: 362px;
    left: 513px;
}

#space-5-barrels {
    top: 287px;
    left: 272px;
}

#space-8-barrels {
    bottom: 205px;
    right: 133px;
}

// ------------------------------------------------------------------------------------------------------------------ //

// Swimmers
.swimmers-count {
    position: absolute;
    width: 30px;

    &::after {
        content: attr(title);
        position: absolute;
        width: 25px;
        height: 25px;
        background: orange;
        z-index: 10;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 12px;
        top: -13px;
        right: -15px;
    }
}

#north-swimmers {
    top: 180px;
    left: 425px;
}

#east-swimmers {
    top: 245px;
    right: 260px;
}

#south-swimmers {
    bottom: 160px;
    right: 500px;
}

#west-swimmers {
    bottom: 200px;
    left: 125px;
}

#michael-swimmer {
    position: absolute;
    width: 30px;

    &.North_Beach {
        top: 180px;
        left: 395px;
    }
    &.East_Beach {
        top: 245px;
        right: 290px;
    }
    &.South_Beach {
        bottom: 160px;
        right: 530px;
    }
    &.West_Beach {
        bottom: 200px;
        left: 95px;
    }
}
