#beach-closed {
    position: absolute;
    width: 65px;
    border: 1px solid black;

    &.North_Beach {
        top: 180px;
        left: 395px;
    }
    &.East_Beach {
        top: 245px;
        right: 290px;
    }
    &.South_Beach {
        bottom: 205px;
        right: 495px;
    }
    &.West_Beach {
        bottom: 235px;
        left: 180px;
    }
}
